.flex {
    display: flex;
}
.column {
    flex-direction: column;
}
.wrap {
    flex-wrap: wrap;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.justify-between {
    justify-content: space-between;
}
.justify-around {
    justify-content: space-around;
}
.justify-center {
    justify-content: center;
}
.align-center {
    align-items: center;
}
.align-start {
    align-items: flex-start;
}
.flex-13 {
    flex: 0 1 13%;
}
.flex-22 {
    flex: 0 1 22%;
}
.flex-30 {
    flex: 0 1 30%;
}
.flex-46 {
    flex: 0 1 46%;
}
.flex-49 {
    flex: 0 1 49%;
}
.flex-78 {
    flex: 0 1 78%;
}

